################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestCode/bin
/TestCode/.vs/TestCode/v14
/TestCode/obj
